<a href="https://colab.research.google.com/github/pranavkakkad/classification_diabetes/blob/main/Classification_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense

In [3]:
!wget https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv

--2021-08-15 21:06:20--  https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23278 (23K) [text/plain]
Saving to: ‘pima-indians-diabetes.data.csv’

pima-indians-diabet 100%[===================>]  22.73K  --.-KB/s    in 0.001s

2021-08-15 21:06:20 (15.5 MB/s) - ‘pima-indians-diabetes.data.csv’ saved [23278/23278]

In [8]:
train_df = pd.read_csv("/content/pima-indians-diabetes.data.csv",header=None)

In [9]:
train_df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    int64
 1   1       768 non-null    int64
 2   2       768 non-null    int64
 3   3       768 non-null    int64
 4   4       768 non-null    int64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   7       768 non-null    int64
 8   8       768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [16]:
train_df.describe()

                0           1           2  ...           6           7           8
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std      3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min      0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [21]:
X = train_df[train_df.columns[:-1]]
y = train_df[train_df.columns[-1:]]

In [23]:
model = Sequential()
model.add(Dense(12,input_dim = 8,activation ="relu"))
model.add(Dense(8,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

In [26]:
model.compile(loss = "binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [29]:
model.fit(X,y,epochs=150,batch_size=10,verbose=0)

In [28]:
_,accuracy = model.evaluate(X,y)
print("accuracy: ",accuracy)

24/24 [==============================] - 0s 1ms/step - loss: 0.4794 - accuracy: 0.7695
accuracy:  0.76953125

In [30]:
pred = model.predict(X)

In [31]:
pred = model.predict_classes(X)

/usr/local/lib/python3.7/dist-packages/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [ ]:
pred

In [34]:
from sklearn import svm
from sklearn.model_selection import train_test_split

In [35]:
X_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [47]:
svm_clf = svm.SVC(kernel="linear")

In [49]:
svm_clf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [50]:
pred = svm_clf.predict(x_test)

In [51]:
from sklearn.metrics import accuracy_score

In [52]:
accuracy_score(y_test,pred)

0.7857142857142857

In [53]:
print("accuracy score from keras: ",accuracy)
print("accuracy score from svm ",accuracy_score(y_test,pred))

accuracy score from keras:  0.76953125
accuracy score from svm  0.7857142857142857